{% extends 'base.html' %}
{% load static %}
{% block titleContent %}Login{% endblock %}
{% block cssLink %}{% endblock %}
{% block content %}
<h2 class="loginTitle">Login</h2>

{% if error %}
<p style="background-color: salmon; padding: 10px;">{{ error }}</p>
{% endif %}

<div class="loginForm">
	<form action="{% url 'login' %}" method="POST">
		{% csrf_token %}

		<div>
			<label for="username">Username</label>
			<input class="username" type="text" name="username" required maxlength="25" minlength="2" />
		</div>

		<div>
			<label for="password">Password</label>
			<input
				class="password"
				type="password"
				name="password"
				required
				maxlength="25"
				minlength="4"
			/>
		</div>

		<input class="submit" type="submit" value="Login" />
	</form>
</div>
{% endblock %}