{% extends 'base.html'%}
{% load static %}
{% block titleContent %}Profile of {{ profile.user.username }}{% endblock %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'profile.css' %}" />{% endblock %}



{% block content %}



<div class="card">
  <h1>{{ profile.user.username }}'s profile</h1>
<img src="{{ profile.picture }}" alt="{{ profile.user.username }}" />

<p class="title">
  {{ profile.bio }}
  <span class="social-links" >
        <a href="{% url 'profile_edit' user_id=profile.user.id %}" style="font-size: initial; padding-top:0"><i class="fas fa-edit"></i></a>
  </span>
</p>
      {% if hikes %}
        <h4>Created hikes</h4>
        {% for hike in hikes%}
        <ul>
        <li><a href="{% url 'hike_detail' hike_id=hike.id %}">{{ hike.title }}</a></li>
        </ul>
        {% endfor %}
      {% endif %}

      {% if hike_groups %}
        <h4>SignedUp for hikes</h4>
        {% for hike in hike_groups %}
        <ul>
        <li><a href="{% url 'hike_detail' hike_id=hike.hike.id %}">{{ hike.hike.title }}</a></li>
        </ul>
        {% endfor %}
      {% endif %}

        {% if comments %}
        <h4>Commented on hikes</h4>
        {% for comment in comments%}
        <ul>
        <li><a href="{% url 'hike_detail' hike_id=comment.hike.id %}">{{ comment.hike.title }}</a></li>
        </ul>
        {% endfor %}
      {% endif %}



</div>



{% endblock %}
