* {
  box-sizing: border-box;
}
#map {
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
}
    
    
/* main */

.main{    
	margin-top: 40px;
}

.main img{
	height: 100vh;
	margin: 20px;
	display: block;
	margin-left: auto;
  margin-right: auto;
}

.main h1{
	text-align: center;
}

.main p{
	margin: 20px;
}
/* 
 a.local-link {
  background-color: #4169e1;
  padding: .15em .75em;
  text-decoration: none;  
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  }
  
  a:hover.local-link{
    opacity: 1;
  }
   */