
 /* main */

.main-landing{
  margin-top: 40px;
}

.main-landing img{
  height: 70vh;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-landing h1, h3{
  text-align: center;
}

.main-landing p{
  margin: 20px 60px;
}

/* colum */

.col-padding p,ul{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    list-style: none; /* Remove HTML bullets */
}
.col-padding h3{
    font-family: "Aharoni", Times, serif;
    font-size: 25px;
    color: blue;
}




.img-responsive{
  height: 15vh;  
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-padding .limit{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;;
  
}


/* Tablet and bigger */
@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}