.profileEdit h3{
    margin-left: 35%;
    font-size: 3em;
    font-weight: bolder;
}
.profileEdit form label{
    margin-left: 30%;
}
.profileEdit form .bio{
    margin-left: 30%;
    padding-bottom: 8em;
    padding-right: 21em;
}
.profileEdit form .picture {
    margin-left: 30%;
    padding-bottom: 8em;
    padding-right: 21em;
}
.profileEdit .save{
    margin-top: 10px;
    margin-left: 45%;
    width: 15em;
    border: 1px solid grey;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.profileEdit .save:hover{
    background-color: #4169e1;
    color: white;
}
