{% extends 'base.html' %}
{% load static %}
{% block titleContent %}{{ hike.title }}{% endblock %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'hike_detail.css' %}" />{% endblock %}
{% block scripts %}
<script src="{% static 'script/hike_detail.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&callback=initMap"></script>
{% endblock %}
{% block content %}


	<!-- main -->


<div class="main">

	<h1>{{ hike.title }}</h1>
	
	<img src="{{ hike.picture }}" alt="hike-photo" >
	
	<p>{{ hike.description }}</p>
</div>

<div class="comments	">
	<h3><a href="{% url 'comment_new' pk=hike.pk %}">(+) Add Comment</a></h3>
	<ul>
		{% for comment in comments %}
		<li>
				<h4>Comment Added</h4>
				{{ comment.body }}
				
				<h4>Hike rating</h4>
				{{ comment.rating }}
			
		</li>
		{% endfor %}
	</ul>
	
</div>
<div>
		<h3><a href="{% url 'hike_join' pk=hike.pk %}" class="local-link"	>(+) Join Hike</a></h3>
		<!-- <h3>{{ hikegroup.hike }}</h3> -->
		<h3>{{ hikegroup.profile }}</h3>

</div>

<h3><a href="{% url 'hike_edit' pk=hike.pk %}" class="local-link">(+) Edit Hike</a></h3>

	
	
	<!-- Google  Map -->
				<h3>Google Maps </h3>
	<!--The div element for the map -->
	<div id="map"></div>


{% endblock %}
