{% extends 'base.html' %} {% block content %}


	<!-- main -->


<div class="main">

	<h1>{{ hike.title }}</h1>
	
	<img src="{{ hike.picture }}" alt="hike-photo" >
	
	<p>{{ hike.description }}</p>
</div>
<div>
	<h3><a href="{% url 'comment_new' pk=hike.pk %}">(+) Add Comment</a></h3>
	<ul>
		{% for comment in comments %}
		<li>
				<h4>Comment Added</h4>
				{{ comment.body }}
				
				<h4>Hike rating</h4>
				{{ comment.rating }}
			
		</li>
		{% endfor %}
	</ul>
	
</div>
<div>
		<h3><a href="#">(+) Join Hike</a></h3>
</div>

	
	
	<!-- Google  Map -->
				<h3>Google Maps </h3>
	<!--The div element for the map -->
	<div id="map"></div>


{% endblock %}
